[submodule "games/recaptcha"]
	path = public/games/recaptcha
	url = https://github.com/katccat/daily-trends-memory-game.git
[submodule "games/pong"]
	path = public/games/pong
	url = https://github.com/katccat/Basic-Pong-JS.git
[submodule "games/asteroids"]
	path = public/games/asteroids
	url = https://github.com/katccat/asteroids100.git
