html[data-theme='dark'] .hero-image {
  display: none;
}
.hero-image {
  /* display: none; */
  z-index: 0;
  width: 100%;
  position: absolute;
  padding: calc(-1 * var(--pad));
}
.hero {
  align-self: flex-start;
  position: relative;
  z-index: 1;
  padding-bottom: var(--pad);
  max-width: 800px;
  min-width: min(600px,100%);
  /* border-bottom: var(--line-w) solid var(--line); */
}
.hero img {
  max-width: 450px;
  /* justify-self: center; */
  z-index: 0;
}

.hero__wordmark {
  user-select: none;
  z-index: 1;
  /* color: var(--bg); */
  
  font-family: var(--font-display);
  font-weight: 900;
  line-height: 0.86;
  /* font-size: clamp(3.5rem, 19vw, 16rem); */
  font-size: clamp(3.5rem, 10vw, 125px);
  letter-spacing: 0.005em;
  text-shadow: var(--glow);
}

.home-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.companion-image {
  z-index: 1;
  align-self: center;
  justify-self: center;
  margin-inline: auto;
  width: auto;
  height: auto;
  min-width: 400px;
  flex: 1 1 400px;
}
.companion-image--desktop {
  margin-top: calc(-0.8 * var(--padding-top));
  max-width: min(550px, 50vw);
}